* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

#root {
  border: 5px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5e4ac;
  flex: 100%;
}

.App {
  border: 3px solid black;
  width: 600px;
}

.App label {
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

label #new-task {
  flex: 80%;
}

label button {
  flex: 20%;
}

label ul {
  flex: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
}

label ul li {
  border: 2px solid red;
  list-style: none;
  flex: 0 1 100%;
  margin: 10px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

label ul li div {
  flex: 0 1 80%;
}

label ul li button {
  flex: 0 0 20%;
}
