* {
  box-sizing: border-box;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #022e40;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  background-color: #d93b3b;
  font-size: 2rem;
  width: 75%;
  margin: 0;
  padding: 1rem;
}

.App label,
.App ul {
  background-color: #d9cdb8;
  width: 75%;
  display: flex;
  margin: 0;
  padding: 2rem;
}

.App ul {
  background-color: #f27a5e;
  flex-flow: column nowrap;
}

.App label input {
  border: none;
  border-radius: 1rem;
  flex: 3;
  padding: 0.5rem;
}

.App label input:focus {
  outline: none;
}

.App label button {
  background-color: #227373;
  color: #d9cdb8;
  border: none;
  border-radius: 1rem;
  flex: 1;
}

.App ul li {
  background-color: #227373;
  color: #d9cdb8;
  border-radius: 1rem;
  list-style: none;
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
}

.task-content {
  flex: 3;
  padding-right: 1rem;
}

.App ul li button {
  background-color: #d93b3b;
  color: #d9cdb8;
  border: none;
  border-radius: 1rem;
  flex: 1;
}
